<style>
    
    .fondo-pantalla{
        background-image: url("img/fondo-saludo.png");
        background-position: center;
        background-repeat: no-repeat;
        
        
    }

    .tit1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        margin-left:600px;
        
    }

    .desta{
       font-size: 30px;
        padding-bottom: 220px;
        margin-top: -40px;
    }
</style>


<div class="container text-center">
    <div class="fondo-pantalla">
                
    <hr>
<div class="tit1"> 
    <h2 class="desta">
        <br><br><br>
        ¡ Que deliciosa elección !  
        <br> 
        <br>        
        <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="80px" height="80px" alt=""></a>
        <br>
        Tu Menu Click
        <br><br>
        Gracias por elegirnos
        <br>
    </h2>  

        <br><br><br><br> 
    </div>

    <h4>
    <br>
        
    </h4>
    <br>
    </div>
</div>
